/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed
}
.container {
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container {
    max-width: 728px;
  }
}

@media(max-width: 376px) {
  .container {
    max-width: 355px;
  }
}

.header {
  margin-bottom: 60px;
}

@media (max-width: 769px) {
  .header {
    height: 1024px;
  }
}

@media(max-width: 376px) {
  .header {
    height: 668px;
    margin-bottom: 40px;
  }
}

.header__theme-menu {
  display: inline-flex;
  justify-content: center;
  align-items: start;
  width: 1024px;
}

@media (max-width: 769px) {
  .header__theme-menu {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    position: relative;
    right: -30px;
  }
}

@media(max-width: 376px) {
  .header__theme-menu {
    width: 100%;
  }
}

/* Удаление маркеров списка */
.header__theme-menu-list {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  flex-direction: row;
  padding: 0px 13px;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  margin-left: 33px;
}

@media (max-width: 769px) {
  .header__theme-menu-list {
    flex-direction: column;
    position: relative;
    top: 175px;
  }
}

@media(max-width: 376px) {
  .header__theme-menu-list {
    top: 55px;
  }
}

/* кнопки */
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  margin: 0;
  outline: none;
  cursor: pointer;
  height: 26px;
  padding: 0px 13px;
  font-size: 18px;
  text-transform: lowercase;
  font-family: "IBM Plex mono";
  font-weight: normal;
  line-height: 18px;
  display: inline-flex;
  align-items: start;
}

.header__theme-menu-button:hover {
  height: 26px;
  padding: 0px 13px;
}

.header__theme-menu-button:focus {
  text-decoration-line: underline;
  height: 26px;
  padding: 0px 13px;
}

.header__theme-menu-button_type_light {
  margin-right: 10px;
}

@media (max-width: 769px) {
  .header__theme-menu-button_type_light {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media(max-width: 376px) {
  .header__theme-menu-button_type_light {
    margin-right: 10px;
  }
}

.header__theme-menu-button_type_auto {
  margin-right: 10px;
}

@media (max-width: 769px) {
  .header__theme-menu-button_type_auto {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media(max-width: 376px) {
  .header__theme-menu-button_type_auto {
    margin-right: 10px;
  }

  .header__theme-menu-button_type_dark {
    margin-right: 10px;
  }
}

/* уголок правый */
.corner {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.rec {
  position: absolute;
  right: 30px;
  top: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rec__text {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "IBM Plex mono";
  font-weight: normal;
  color: var(--color-neon-pink);
}

@media(max-width: 376px) {
  .corner {
    right: 20px;
    top: 8px;
  }
  
  .rec {
    right: 20px;
    top: 10px;
  }
}

.ellipse {
  border-radius: 50px;
  filter: drop-shadow(0px 0px 4px var(--color-neon-pink));
  width: 9px;
  height: 9px;
  background-color:var(--color-neon-pink);
}

/* заголовок */
.header__title {
  color: var(--color-pink);
  text-shadow: 4px 4px 0px var(--color-neon-pink);
  font-family: "IBM Plex mono";
  font-size: 157px;
  font-weight: bold;
  line-height: 82.5%;
  position: absolute;
  top: 320px;
  padding: 0px;
  margin: 0;
}

@media (max-width: 769px) {
  .header__title {
    font-size: 120px;
    top: 460px;
  }
}

@media(max-width: 376px) {
  .header__title {
    font-size: 116px;
    top: 239px;
    width: 355px;
    margin-left: 10px;
  }
}

/* текст хедера */
.header__text {
  position: absolute;
  top: 560px;
  right: 20px;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  width: 491px;
}

@media (max-width: 769px) {
  .header__text {
    top: 720px;
    right: 20px;
    left: 380px;
    width: 364px;
  }
}

@media(max-width: 376px) {
  .header__text {
    top: 485px;
    left: 10px;
    width: 355px;
  }
}

/* уголок левый */
.corner-left {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 720px;
}

@media (max-width: 769px) {
  .corner-left {
    top: 977px;
  }
}

@media(max-width: 376px) {
  .corner-left {
    left: 8px;
    top: 630px;
  }
}

/* ссылка */
.reference {
  text-decoration: none;
  position: relative;
}

.reference::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 0;
  transition: width 0.3s ease;
}

.reference:hover::after {
  width: 100%;
}

.reference::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.reference:focus::before {
  opacity: 1;
}

/* первая секция */

.first-section__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 80px;
}

.first-section__block-size-big {
  grid-row-start: 1;
  grid-row-end: 5;
}

@media (max-width: 769px) {
  .first-section__container {
    margin-bottom: 78px;
    column-gap: 20px;
  }
}

@media(max-width: 376px) {
  .first-section__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.first-section__title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  padding: 0;
  margin: 0;
  /* margin-right: 20px; */
}

@media(max-width: 376px) {
  .first-section__title {
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

.first-section__right-block-title {
  height: 24px;
  margin-bottom: 10px;
}

.first-section__right-text {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin: 0;
  padding: 0;
}

/* вторая секция */

.second-section {
  margin-bottom: 80px;
}

@media (max-width: 376px) {
  .second-section {
    margin-bottom: 50px;
  }
}


.second-section__title-content {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
  padding: 0;
}

.second-section__title {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .second-section__title {
    margin-right: 20px;
  }
}

@media (max-width: 376px) {
  .second-section__title {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 10px;
  }
}

.second-section__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

@media (max-width: 769px) {
  .second-section__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
}

.second-section__columns-title {
  margin-bottom: 10px;
  height: 24px;
}

.second__columns-title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
  padding: 0;
}

.second__columns-text {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin: 0;
  padding: 0;
}

/* третья секция */
.third-section {
  margin-bottom: 60px;
}

@media (max-width: 376px) {
  .third-section {
    margin-bottom: 45px;
  }
}
.third-section__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
 
/* заголовок */
.third-section__title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .third-section__right-content {
    margin-left: 15px;
  }
}

@media (max-width: 376px) {
  .third-section__container {
    grid-template-columns: 1fr;
  }

  .third-section__right-content {
    margin: 0;
  }
}

/* подзаголовок */

.third-section__subtitle {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

@media (max-width: 769px) {
  .third-section__subtitle {
    margin-left: 20px;
  }
}

@media (max-width: 376px) {
  .third-section__subtitle {
    margin-left: 7px;
  }
}

.third-section__text {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .third-section__first-text {
    max-width: 472px;
  }
}

@media (max-width: 376px) {
  .third-section__first-text {
    max-width: 355px;
  }

  .third-section__read-text {
    margin-bottom: 0px;
  }
}

/* четвертая секция */
.fourth-section {
  margin-bottom: 40px;
}

@media (max-width: 376px) {
  .fourth-section {
    margin-bottom: 40px;
  }
}

.fourth-title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-bottom: 0px;
}

@media (max-width: 376px) {
  .fourth-title {
    margin-bottom: 10px;
  }
}

.fourth-section__container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 985px;
  max-height: 1048px; /* Высота установлена в соответствии с пропорциями изображений */
  margin-top: 15px;
}

@media (max-width: 769px) {
  .fourth-section__container {
    max-width: 725px;
    max-height: 775px; /* Высота установлена в соответствии с пропорциями изображений */
  }
}

@media (max-width: 376px) {
  .fourth-section__container {
    display: flex;
    flex-direction: column;
    max-width: 355px;
    max-height: 1380px;
    margin: 0;
    gap: 10px;
  }
}

.fourth-section__first-image { /* sunset */
  grid-area: sunset;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 376px) {
  .fourth-section__first-image { /* sunset */
    width: 355px;
    height: 142px;
  }
}

.fourth-section__second-image { /* ice-cream */
  grid-area: ice-cream;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 376px) {
  .fourth-section__second-image { /* ice-cream */
    width: 355px;
    height: 355px;
  }
}

.fourth-section__third-image { /* books */
  grid-area: books;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 376px) {
  .fourth-section__third-image { /* books */
    width: 355px;
    height: 355px;
    order: 2;
  }
}

.fourth-section__fourth-image { /* tape */
  grid-area: tape;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 376px) {
  .fourth-section__fourth-image { /* tape */
    width: 355px;
    height: 237px;
    order: 1;
  }
}

.fourth-section__fifth-image { /* street */
  grid-area: street;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 376px) {
  .fourth-section__fifth-image { /* street */
    width: 355px;
    height: 237px;
    order: 3;
  }
}

.footer__container {
  height: 768px;
}

@media (max-width: 769px) {
  .footer__container {
    height: 1024px;
  }
}

@media (max-width: 376px) {
  .footer__container {
    height: 667px;
  }
}

.footer__corner {
  position: relative;
  top: 4260px;
  right: 20px;
}

@media (max-width: 769px) {
  .footer__corner {
    top: 4845px;
    right: 22px;
  }
}

@media (max-width: 376px) {
  .footer__corner {
    top: 6111px;
    margin-right: 0;
  }
}

.footer__title {
  font-family: "IBM Plex Mono";
  font-size: 157px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
  position: relative;
  top: 340px;
}

@media (max-width: 769px) {
  .footer__title {
    top: 490px;
    font-size: 120px;
  }
}

@media (max-width: 376px) {
  .footer__title {
    top: 286px;
    font-size: 116px;
  }
}

.footer__corner-left {
  position: relative;
  top: 615px;
  left: 0;
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .footer__corner-left {
    top: 910px;
  }
}

@media (max-width: 376px) {
  .footer__corner-left {
    position: relative;
    top: 536px;
    left: 0px;
    margin-bottom: 10px;
  }
}